html, body, .container-fluid {
  height: 100%;
}

body {
  padding: 50px 0;
}

#root {
  height: 100%;
}

.authenticated-component {
  height: 100%;
}

.glyphicon.normal-right-spinner {
  animation: glyphicon-spin-r 2s infinite linear;
}

@keyframes glyphicon-spin-r {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.footer {
  height: 50px;
  background-color: rgb(34, 34, 34);
  color: #9d9d9d;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #101010;
}

@media (max-width: 1024px) {
  #root {
    padding-bottom: 0 !important;
  }

  .footer {
    display: none;
  }

  .sidebar {
    bottom: 0;
  }
}

.btn-success {
  background-color: #43cda1;
  border-color: #43cda1;
}

.btn-success:hover,
.btn-success:focus, .btn-success.focus,
.btn-success:active, .btn-success.active,
.btn-success:active:hover, .btn-success.active:hover,
.btn-success:active:focus, .btn-success.active:focus,
.btn-success:active.focus, .btn-success.active.focus
{
  background-color: #3D997C;
  border-color: #3D997C;
}

.shim {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  border-radius: 4px;

  .glyphicon {
    position: absolute;
    top: 50%;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: -24px;
  }
}

.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
  margin-top: 6px;
}

.notification {
  z-index: 10001;
  bottom: 60px !important;
  font-size: 12px !important;
  background: #d9534f !important;

  .notification-bar-action {
    color: black !important;
  }
}

.notification-top {
  z-index: 10001;
}