.sidebar {
  display: none;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.profile-content {
  height: 100%;

  h1 {
    border-bottom: 1px solid #eee;
  }
}

.profile-main {
  height: 100%;
}

.profile-tab {
  padding-bottom: 80px;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    display: block;
    padding: 20px;
    z-index: 1000;
    top: 51px;
    bottom: 51px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.griddle-filter {
  width: 100% !important;
}

.filter-container {
  margin: 5px;

  .form-control {
    width: 25%;
    display: inline-block;
  }

  .table-btn-group {
    float: right;
    display: inline-block;

    button {
      margin-left: 5px;
    }
  }
}

.footer-container {
  background-color: transparent !important;
}

.griddle-footer {
  text-align: center;
}

.griddle-container {
  border: none !important;

  table {
    height: 100%;

    //tr {
    //  width: 100%;
    //  display: table-row;
    //  height: 31px;
    //}

    .td-component {
      height: 31px;
    }

    th:first-child, td:first-child {
      width: 10%;
    }

    tbody > td:nth-child(2) {
      width: 30% !important;
    }

    tbody > tr > td {
      vertical-align: middle !important;
    }

    .table-action-column {
      padding: 5px;
    }

    button {
      display: block;
      margin: 5px 0;
      width: 100%;
    }

    .standard-row {
      display: block;
    }
  }
}