.slide-down-enter {
  height: 0;
}

.slide-down-enter.slide-down-enter-active {
  height: 100%;
  transition: height .6s ease-in;
}

.slide-down-leave {
  height: 100%;
}

.slide-down-leave.slide-down-leave-active {
  height: 0;
  transition: height .6s ease-in-out;
}

.fade-out-enter {
  opacity: 0;
}

.fade-out-enter.fade-out-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.fade-out-leave {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.fade-out-leave.fade-out-leave-active {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.react-animation {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.react-animation__page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}