.user-list {
  height: 100%;

  .panel {
    text-align: center;
    height: 100%;

    th {
      cursor: pointer;
    }
  }

  .panel-heading {
    text-align: left;
  }

  .table {
    text-align: left;
  }
}