.user-list {
  width: 100%;
  position: relative;
}

.user-filter {
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .user-filter {
    .btn-group-justified {
      margin-top: 5px;
    }
  }
}